*.db
*.spec
*.exe
__pycache__
dist*
QuickCut/misc/*.png
QuickCut/misc/*.ico
QuickCut/misc/*.afphoto
build*
fileList.txt
TEMP*
text.py
out
*.log
*.spec
test.py
README.html
*.7z
*.mp4
*.mkv
*.wav
.DS_Store
.idea
*build
*dist

