# ============python 缓存相关============
__pycache__
*.spec
*.pyc
*.log
*.spec
*info
*.history

# ============IDE 相关============
.idea
.DS_Store
.vscode

# ============虚拟环境============
Lib/*
Scripts/*
pyvenv.cfg

# ============测试代码============
*/test/*
test*
fileList.txt
build_linux_pyinstaller

# ============打包生成文件============
*.7z
*/dist/*
*/build/*
build/*
dist/*

# ============数据库、配置文件============
*.db
*.ini

# ============媒体文件============
*.mp4
*.mkv

# ============可执行二进制文件============
7z.exe
annie.exe

# ============图片============
*.afphoto
icon*.png



