srt
keyboard
numpy
setuptools
aliyun-python-sdk-core
alibabacloud-nls-java-sdk
PyQt5
audiotsm
scipy
cos-python-sdk-v5
tencentcloud-sdk-python
oss2
pyaudio
auditok @ git+https://github.com/amsehili/auditok@v0.1.8
requests
